.why-us {
    background-image: -webkit-linear-gradient(rgba(#ffffffa3, 0.70), rgba(#ffffffa3, 0.55)), url('../images/choose_bg.jpg');
    background-size: cover;
    padding: 5rem;
}
.fa-plus {
    color: $main-color !important;
}